.flex{
    display: flex;
    border-bottom: 1px solid #aaa;
    width: 70%;
    background-color: #bada55;
    justify-content: left;
    margin: auto;
    padding-bottom: 5px;
}

.flex-item {
    align-content: center;
    
}

.radio-input{
    width: 20%;
    padding-left: 10px;
    border-left: 1px solid #aaa;
}

.radio-input:hover{
    cursor: pointer;
}

.content {
    padding: 10px;
    padding-left: 10px;
    padding-right: 0;
}

.input {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

p.text{
    position: absolute;
    top: 50%
}

.active {
    background: #aaaaaa;
    color: white
}

button:active{
    background: tomato;
}

button:focus{
    background: coral;
}

.loading{
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 500px;
    z-index: 1
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%)
}
